body {
  background-color: rgb(218, 191, 209);
}
a {
  color: rgb(202, 24, 149);
}
#preto {
  color: black;
}
#rosa {
  color: pink;
}

p {
  color: rgb(51, 8, 92);
}
h1 {
  color: darkmagenta;
}
h2 {
  color: darkorchid;
}
